.profile__edit-button {
    margin-left: 18px;
    padding: 0;
    width: 24px;
    height: 24px;
    transition: all .5s ease;
    background-image: url(../../../images/EditButton.svg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 950px) {
    .profile__edit-button {
        margin-top: -10px;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}