@import url('./__input/form__input.css');
@import url('./__submit/form__submit.css');
@import url('./__input/_type_error/form__input_type_error.css');
@import url('./__input-error/form__input-error.css');
@import url('./__input-error/_active/form__input-error_active.css');
@import url('./__submit/_active/form__submit_active.css');

.form {
  max-width: 358px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 677px) {
  .form {
    max-width: 260px;
  }
}