.popup__input {
    font-size: 14px;
    line-height: 1.21;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding-bottom: 7px;
}

.popup__input:nth-child(2) {
    margin-bottom: 30px;
}

.popup__input:nth-child(4) {
    margin-bottom: 48px;
}

@media screen and (max-width:425px) {
    .popup__input {
        width: 238px;
    }

    .popup__input:nth-child(2) {
        margin-bottom: 45px;
    }
}