@import url('./_form/popup__container_form.css');
@import url('./_form/popup__container_form-edit-avatar.css');
@import url('./_form/popup__container_delete-img.css');

.popup__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: auto;
}