.profile__about {
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 312px;
    text-align: center;
}

@media screen and (max-width:760px) {
    .profile__about {
        font-size: 16px;
        max-width: 282px;
    }
}

@media screen and (max-width:420px) {
    .profile__about {
        font-size: 14px;
    }
}