.pop-up__button {
    padding: 0;
    margin: 0 0 37px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    background-color: black;
    width: 358px;
    height: 50px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all .5s ease;
}

.pop-up__button:hover {
    opacity: .8;
}

@media screen and (max-width: 950px) {
    .pop-up__button {
        margin: 0 0 25px;
        width: 238px;
        height: 46px;
    }
}