.element__button-like_focus {
  background-image: url('../../../../images/element/heart-active.svg');
  z-index: 0;
}

.element__button-like_focus:hover {
  opacity: 1;
}

.element__button-like_focus:focus {
  outline: none;
}