.header__logo {
    background-size: cover;
    display: block;
    width: 142px;
    height: 33px;
    z-index: 100;
    background-image: url(../../../images/Vector.svg);
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 430px) {
    .header__logo {
        width: 104px;
        height: 25px;
    }
}