.header {
    margin: 45px auto 40px;
    max-width: 880px;
    border-bottom: 1px rgba(84, 84, 84, .7) solid;
}

@media screen and (max-width: 950px) {
    .header {
        margin: 28px auto 42px;
        max-width: 320px;
    }
}