.form__input-error_active {
  display: block;
  width: 358px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 677px) {
  .form__input-error_active {
    width: 200px;
    bottom: 22px;
  }
}