.root {
  background-color: #000;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width:760px) {
  .root {
    padding: 0 50px;
  }
}

@media screen and (max-width:420px) {
  .root {
    padding: 0;
  }
}