@import url('./_name/form__input_name.css');
@import url('./_job/form__input_job.css');
@import url('./_avatar/form__input-error_avatar.css');
@import url('./_place/form__input_place.css');
@import url('./_url/form__input_url-avatar.css');
@import url('./_url/form__input_url.css');

.form__input {
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  padding: 13px 0;
  margin: 0 0 5px;
}

.form__input:focus {
  outline: 2px solid #7ca0fa;
}

.form__input::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 677px) {
  .form__input {
    margin: 0 0 20px;
  }
}