.pop-up__close-pop-up {
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    border: 0;
    padding: 0;
    position: absolute;
    cursor: pointer;
    height: 32px;
    width: 32px;
    top: -32px;
    right: -32px;
    transition: all .5s ease;
}

.pop-up__close-pop-up:hover {
    opacity: .6;
}

@media screen and (max-width: 950px) {
    .pop-up__close-pop-up {
        background-image: url(../../../images/CloseIcon320.svg);
        width: 20px;
        height: 20px;
        right: 0;
    }
}