.pop-up__container {
    position: relative;
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 950px) {
    .pop-up__container {
        width: 282px;
    }
}