@import url('./_focus/element__button-like_focus.css');

.element__button-like {
  background-image: url('../../../images/element/heart.svg');
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: .4s linear;
  padding: 9px 11px;
  margin: 0;
}

.element__button-like:hover {
  opacity: .4;
}

.element__button-like:focus {
  transition: none;
}